<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WindowsApplication3.My.MySettings>
            <setting name="ImgEdt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CupSzX" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CupSzY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ImgSzX" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ImgSzY" serializeAs="String">
                <value>573</value>
            </setting>
            <setting name="CupSzFl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HidFrm" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsApplication3.My.MySettings>
    </userSettings>
</configuration>